@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    list-style: none;
    display: flex;
}

.nav-item {
    margin: 5px 5px;
    padding: 10px;

}

.list {
    cursor: pointer;


}

.list:hover {
    color: orange;

}

.btn-primary {
    padding: 14px 18px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    justify-content: center;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.932);
    margin-top: -10px;
    cursor: pointer;
}

.btn-secondary {
    padding: 14px 18px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
    justify-content: center;
    background-color: orange;
    color: white;
    margin-top: -10px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: rgb(206, 134, 0);
}

/* Hero */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 150px;
}

.section-title{
    font-size: 50px;
    font-weight: 800;
    padding: 30px 0;
}

.section-description{
    font-size: 18px;
    padding: 25px 0;
}

.play{

    margin: 20px 5px 0 5px;

}

.watch{
    color: orange;
    border-bottom: 1px solid orange;
    text-decoration: none;
}

/* Design Tools */

.design-tools{
    background-image: url(/Img/category/shape.png);
    background-size: cover;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.tools{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;

}

.tool{
    padding: 0 20px;
    margin: 0 30px;
}

.tool-img{
    width: 90px;
    padding: 20px;
}

.tool-title{
    margin-bottom: 20px;
}
.tool-description{
    margin-bottom: 25px;
}
